.content-home {
  height: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 30%;
  left: 16px;
}

.controls {
  justify-content: space-around;
  background-color: rgb(223, 223, 226);
}

.horizontal-line {
  width: 6rem;
  height: 0.18rem;
  color: #20ea3c;
  background-color: #20ea3c;
  margin: 0;
}
