.home-container{

}
header {
    /* position: absolute; */
    /* top: 0; */
    display: grid;
    grid-template-areas: "logo nav";
}

/* .logo {
    width: 100%;
} */

.content-home {
    width: 100%;
}

.content-text {
    padding-left: 10%;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
}

.home-btn {
   width: 10%;
   height: 10%;
}